@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@theme {
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Yanone Kaffeesatz", sans-serif;

  --color-primary: #E7BC0F;
  --color-secondary: #808080;
  --color-success: #27C237;
  --color-error: #F64E34;
  --color-warning: #EB8509;
  --color-info: #275BC2;
}

:root {
  --primary-color: #E7BC0F;
  --secondary-color: #808080;
  --success-color: #27C237;
  --error-color: #F64E34;
  --warning-color: #EB8509;
  --info-color: #275BC2;
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Yanone Kaffeesatz", sans-serif;
  --background-color: #F5F5F5;
  --text-color: #333333;
  --border-radius: 4px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}